body {
	background-color: rgba(40, 40, 40, 1) !important;
}

#auth_form {
	background: black;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, .11);
	border: 2px solid black;
	text-align: center;
	letter-spacing: .44px;
	margin: 0 auto;
	margin-top: 4em;
	width: 36%;
}

#auth_title {
	padding: .4em;
	margin: .5em 0 .4em 0;
	color: rgba(251, 250, 245, .66);
}

#auth_form p {
	color: rgba(251, 250, 245, 1);
}

#auth_sumbition {
	box-sizing: border-box;
	background-color: rgba(40, 40, 40, 1);
	padding-top: 1.2em;
}

#auth_sumbition section {
	padding: .55em;
}

#auth_sumbition input,
label,
button {
	box-sizing: border-box;
	font-size: medium;
	color: rgba(251, 250, 245, 1);
}

#auth_sumbition input {
	background-color: rgba(0, 0, 0, .8);
	border: none;
	border-bottom: 1px solid white;
	border-radius: .2em;
	padding: .4em;
	width: 44%;
}

#auth_sumbition input:hover {
  background-color: rgba(255, 255, 255, .02);
}

#auth_sumbition input:focus,
label:focus {
  outline: none;
}

#auth_sumbition label {
  display: inline-block;
  text-align: end;
  width: 24%;
  margin-right: .4em;
}

#remember_token--token>input {
	width: min-content;
}

#auth_sumbition a {
  display: block;
  font-size: small;
  color: white;
  margin: .4em;
}

button[type="submit"] {
  background-color: black;
  border: 1px solid rgba(251, 250, 245, .9);
  border-radius: .2em;
  padding: .4em;
  cursor: pointer;
	margin: 0 0 .6em 0;
}

button[type="submit"]:hover {
  background-color: rgba(255, 255, 255, .02);
}

button[type="submit"]:active {
  background-color: rgba(255, 255, 255, .1);
}

#auth_sumbition small {
  display: block;
  margin: .2em 0 0 0;
  padding: 0;
	width: 86%;
	text-align: end;
  color: rgba(255, 87, 51, .66);
}