body {
	background-color: rgba(219, 220, 218, .66) !important;
}

#cart {
	width: 75%;
	margin: auto;
	background-color: rgba(250, 250, 250, 1);
	box-shadow: 0 0 2px 2px rgba(40, 40, 40, .1);
	transition: all 2s ease;
}

#cart:hover {
	background-color: white;
}

#cart>h2 {
	text-align: center;
	margin: 0;
	padding: 1.2em;
}

#cart--empty {
	text-align: center;
}

#cart--empty svg {
	width: 16%;
	opacity: 18%;
}

#cart--empty p {
	opacity: 60%;
}

.block-button {
	display: block;
	text-align: center;
	padding: 2em;
}

.block-button button {
	cursor: pointer;
}

.to-store {
	padding: 1em 2.8em;
	font-size: medium;
	border-radius: .2em;
	border: none;
	color: rgba(251, 250, 245, 1);
	background-color: rgba(40, 40, 40, .8);
	transition: all 1s ease;
}

.to-store:hover {
	background-color: rgba(40, 40, 40, 1);
}

.to-store:active {
	background-color: rgba(20, 20, 20, 1);
}

.cart--miniview {
	position: relative;
	margin: 0 1.8em;
	padding: 1.2em;
	margin-bottom: 1.4em;
	background-color: rgba(222, 222, 222, .5);
	transition: all 1s ease;
}

.cart--miniview:hover {
	background-color: rgba(222, 222, 222, 1);
}

.cart--miniview a {
	display: inline-block;
	width: 72.5%;
	text-decoration: none;
	color: #282828;
}

.cart--miniview h1 {
	margin: 0;
	font-size: 1.8em;
}

.cart--miniview h2 {
	margin: .4em 0 .8em 0;
	font-size: 1em;
	font-weight: 500;
}

.cart--miniview p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 90%;
	margin: 0;
}

.cart--miniview:last-of-type {
	margin-bottom: 5em;
}

.cart--edit {
	display: inline-block;
	position: absolute;
	text-align: end;
	right: 25px;
	bottom: 20px;
	width: 25%;
}

.cart--edit a {
	color: rgba(40, 40, 40, .6);
	transition: all 1s ease;
}

.cart--edit a {
	margin-left: .22em;
}

.cart--edit a:hover {
	color: rgba(40, 40, 40, 1);
}