body {
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='3400' height='1700' preserveAspectRatio='none' viewBox='0 0 3400 1700'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1529%26quot%3b)' fill='none'%3e%3crect width='3400' height='1700' x='0' y='0' fill='rgba(40%2c 40%2c 40%2c 1)'%3e%3c/rect%3e%3ccircle r='120.185' cx='2171.66' cy='316.45' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='150.145' cx='224.51' cy='1248.23' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='98.165' cx='2769.3' cy='1687.55' fill='url(%23SvgjsLinearGradient1530)'%3e%3c/circle%3e%3ccircle r='135.395' cx='2909.89' cy='1301.33' fill='url(%23SvgjsLinearGradient1531)'%3e%3c/circle%3e%3ccircle r='76.265' cx='2952.14' cy='227.62' fill='url(%23SvgjsLinearGradient1532)'%3e%3c/circle%3e%3ccircle r='76' cx='1599.35' cy='333.27' fill='url(%23SvgjsLinearGradient1533)'%3e%3c/circle%3e%3ccircle r='145.115' cx='856.54' cy='775.77' fill='url(%23SvgjsLinearGradient1534)'%3e%3c/circle%3e%3ccircle r='166.585' cx='2226.78' cy='752.24' fill='url(%23SvgjsLinearGradient1535)'%3e%3c/circle%3e%3ccircle r='168.335' cx='1759.64' cy='1287.03' fill='url(%23SvgjsLinearGradient1536)'%3e%3c/circle%3e%3ccircle r='89.125' cx='114.95' cy='855.61' fill='url(%23SvgjsLinearGradient1537)'%3e%3c/circle%3e%3ccircle r='145.535' cx='899.92' cy='169.16' fill='url(%23SvgjsLinearGradient1538)'%3e%3c/circle%3e%3ccircle r='133.835' cx='1013.5' cy='835.34' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='85.32' cx='1075.05' cy='1516.96' fill='url(%23SvgjsLinearGradient1539)'%3e%3c/circle%3e%3ccircle r='154.65' cx='3181.58' cy='1560.21' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='113.535' cx='773.13' cy='1237.81' fill='url(%23SvgjsLinearGradient1540)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1529'%3e%3crect width='3400' height='1700' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='2572.9700000000003' y1='1687.55' x2='2965.63' y2='1687.55' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1530'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='2639.1' y1='1301.33' x2='3180.68' y2='1301.33' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1531'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='2799.6099999999997' y1='227.62' x2='3104.6699999999996' y2='227.62' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1532'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1447.35' y1='333.27' x2='1751.35' y2='333.27' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1533'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='566.31' y1='775.77' x2='1146.77' y2='775.77' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1534'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1893.6100000000001' y1='752.24' x2='2559.9500000000003' y2='752.24' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1535'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1422.97' y1='1287.03' x2='2096.31' y2='1287.03' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1536'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-63.3' y1='855.61' x2='293.2' y2='855.61' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1537'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='608.8499999999999' y1='169.16' x2='1190.9899999999998' y2='169.16' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1538'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='904.41' y1='1516.96' x2='1245.69' y2='1516.96' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1539'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='546.06' y1='1237.81' x2='1000.1999999999999' y2='1237.81' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1540'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e") center center / cover;
}

#contact_form {
	background-color: black;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .22);
	border: 2px solid black;
	text-align: center;
	width: 42%;
	margin: auto;
	margin-top: 4em;
}

#contact_form h2 {
	margin: 0;
	padding: .4em;
	margin: .5em 0 .4em 0;
	color: rgba(251, 250, 245, .66);
}

#contact_submit {
	box-sizing: border-box;
	background-color: rgba(40, 40, 40, 1);
	padding-top: 1.2em;
}

#contact_submit section {
	padding: .55em;
}

#contact_submit input,
label,
button, textarea {
	box-sizing: border-box;
	font-size: medium;
	color: rgba(251, 250, 245, 1);
}

#contact_submit input {
	background-color: rgba(0, 0, 0, .8);
	border: none;
	border-bottom: 1px solid white;
	border-radius: .2em;
	padding: .6em;
	width: 49.5%;
}

#contact_submit input:hover {
  background-color: rgba(255, 255, 255, .02);
}

#contact_submit input:focus,
label:focus {
  outline: none;
}

#contact_submit label {
  display: inline-block;
  text-align: end;
  width: 24%;
  margin-right: .4em;
}

#contact_submit textarea {
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, .8);
	border: none;
	border-bottom: 1px solid white;
	border-radius: .2em;
	padding: .4em;
}

#contact_submit textarea:hover {
	background-color: rgba(255, 255, 255, .02);
}

#contact_submit textarea:focus {
	outline: none;
}

#contact_submit a {
  display: block;
  font-size: small;
  color: white;
  margin: .4em;
}

button[type="submit"] {
  background-color: black;
  border: 1px solid rgba(251, 250, 245, .9);
  border-radius: .2em;
  padding: .4em;
  cursor: pointer;
	margin: 0 0 .6em 0;
}

button[type="submit"]:hover {
  background-color: rgba(255, 255, 255, .02);
}

button[type="submit"]:active {
  background-color: rgba(255, 255, 255, .1);
}

#contact_submit small {
  display: block;
  margin: .2em 0 0 0;
  padding: 0;
	width: 86%;
	text-align: end;
  color: rgba(255, 87, 51, .66);
}

#message_sent {
  background-color: rgba(40, 40, 40, 1);
  border: 1px solid black;
  width: 40%;
  margin: auto;
	margin-top: .5em;
  text-align: center;
  padding: .4em 0;
  color: rgba(255, 255, 255, .9);
  font-size: large;
}