#cl_header {
	background-color: #282828;
	position: relative;
	z-index: 1;
}

#top_header {
	position: relative;
	margin: 0 auto;
	width: 80%;
	height: 8.8em;
}

#top_header img {
	position: absolute;
	width: 14.5%;
	bottom: 0;
}

#nav_list {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: .4em;
}

#nav_list li {
	display: inline-block;
	padding-left: 2.2em;
	font-weight: 300;
	font-size: medium;
	letter-spacing: 2px;
	cursor: pointer;
	line-height: 1.6em;
}

#nav_list li, #nav_list li a {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	transition: color 1s ease;
}

#nav_list li a:hover, #nav_list li:hover {
	color: rgba(255, 255, 255, .6);
}


#nav_list li:nth-child(7):hover #user_list {
	display: block;
}

#user_list {
	display: none;
	position: absolute;
	padding: 0;
	right: 0;
	text-align: end;
	border-top: 4px solid black;
	background-color: #282828;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
}

#user_list li {
	display: block;
	font-size: .88em;
	letter-spacing: 1px;
	line-height: 1em;
}

#user_list li a {
	display: block;
	padding: 1em .8em 1em 1em;
}

#user_list li:hover {
	display: block;
	color: rgba(255, 255, 255, .6);
	background-color: #181818;
}

#user_list li:hover a {
	display: block;
	color: rgba(255, 255, 255, .6);
}

#bottom_header {
	background-color: white;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .25);
	height: 12px;
	transition: height 1s ease;
}