@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: Roboto;
}

body {
    background-color: #FFFFFF;
    margin: 0 auto;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}