#search_section form {
	display: flex;
	justify-content: center;
}

#search_bar {
	position: absolute;
	display: none;
	text-align: center;
	font-size: medium;
	width: 22.5%;
	bottom: 12px;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	border-bottom: 1px solid black;
}

#search_bar:focus {
	outline: none;
}